@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel_novo.css");


:root {
    --white-background: #fff;
    --text-white:#fff;
    --text-black:#000;
    --text-orange:#EB9B00;
    --gradient-blue: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --font-size-title: 18px;
    --font-size-subtitle: 16px;
    --font-size-text: 14px;
    --font-family: "Poppins", sans-serif;
    --font-weight-title: 700;
    --font-weight-subtitle: 500;
    --font-weight-text: 400;
}


body{
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size-subtitle);
}