.carrossel__titulo {
    background-color: var(--white-background);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    color: var(--text-orange);
    text-transform: uppercase;
    text-align: center;
    /*align-items: center;
    /*justify-content: center; /* alinhar o texto ao centro */
    /*display: flex; /* alinhar o texto ao centro */
    padding: 1em 0 0.5em 0; /* espaçamento interno */
    /*margin: 0; /* espaçamento externo */
}

/*.swiper {
    display: flex;
    position: relative;
}*/

.swiper-slide img {
    width: 100%; /* Ocupa toda a largura do container */
    /*height: auto; /* Ajusta a altura automaticamente */
    /*object-fit: cover; /* Ajusta a imagem ao container */
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

/*.swiper-scrollbar {
    display: none;
}*/
.swiper-pagination {
    position: initial; /* Posiciona o elemento de acordo com o container pai */
    margin: 0,5em 0; /* espaçamento externo */
    /*display: flex;
    justify-content: center; /* Centraliza os pontos */
    /*align-items: top; /* Centraliza os pontos */
    /*position: initial; /* Posiciona o elemento de acordo com o container pai */
    /*width: 100%; /* Ocupa toda a largura do container pai */
    /*top: 0; /* Muda a posição para o topo */
    /*left: 50%; /* Centraliza horizontalmente */
    /*transform: translateX(-300%); /* Ajusta a centralização */
}

.swiper-pagination-bullet {
    background-color: #002F52;
}
