.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url('../assets/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin: 0 1em;
}

.container_botao:checked~.container__rotulo .cabecalho__menu-hamburguer {
    background-image:url("../assets/menuAberto.svg"); /* Ícone do menu aberto */
}
    
.container_botao:checked~.container__rotulo {
    background: var(--gradient-blue); /* Fundo gradiente azul */
}

.cabecalho {
    background-color:var(--white-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Para liberar o position absolute do menu */
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em; /* Para dar espaço entre a imagem e o texto */
}

.lista_menu {
    display: none;/* Para o menu ficar oculto */
    position: absolute; /* Para o menu ficar sobre o conteúdo */
    top: 100%; /* Para o menu ficar abaixo do cabeçalho */
    width: 60vw; /* Para o menu ficar com 60% da largura da tela */
    text-decoration: none;
    list-style: none;
}

.container_botao:checked ~ .lista_menu {
    display: block; /* Para o menu ficar visível */
}

.container_botao:checked + .cabecalho__menu-hamburguer {
    background-color: var(--blue-gradient); /* Fundo gradiente azul */
    background-image: none; /* Remove a imagem do ícone */
    color: white; /* Muda a cor do ícone para branco */
}

.lista-menu__titulo, .lista-menu__item {
    background-color: var(--white-background);
    padding: 1em;
    text-decoration: none;
    list-style: none;
}

.lista-menu__titulo {
    color: var(--text-orange);
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-title);
}

.lista-menu__link {
    color: var(--blue-gradient);
    -webkit-background-clip: text; /* Para o gradiente ficar dentro do texto */
    /*-webkit-text-fill-color: transparent; /* Para o texto ficar transparente */
    background-clip: text; /* Para o gradiente ficar dentro do texto */
    font-size: var(font-size-subtitle);
    font-weight: var(--font-weight-text);
    text-decoration: none;
}

.container_botao {
    display: none; /* Para o botão ficar oculto */
}

.container__titulo {
    display: none; /* Para o título ficar oculto */
}

.opções {
    display: none; /* Para as opções ficarem ocultas */
}

.container__texto{
    display: none;
}
@media screen and (min-width: 1024px) {
    
    .container__titulo, 
    .container__titulo--negrito {
        font-family: var(--font-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block; /* Para o título ficar visível */
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opções {
        display: flex;
    }

    .opções__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opções__link {
        color: var(--text-black);
        text-decoration: none;
        font-size: var(--font-size-subtitle);
        font-weight: var(--font-weight-text);
    }

    .container__imagem-transparente {
        display: none; /* Para a imagem ficar oculta */
    }

    .cabecalho__menu-hamburguer {
        display: none; /* Para o ícone do menu ficar oculto */
    }

    .opções__botão:checked ~ .lista_menu {
        display: block; /* Para o menu ficar visível */
        width: auto;
    }

    .opções__botão {
        display: none; /* Para o botão ficar oculto */
    }

    .opções__botão:checked~ .opções__rotulo > .opções__item {
        background: var(--gradient-blue); /* Fundo gradiente azul */
        color:var(--white-background); /* Cor do texto branco */
    }

    .opções__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--blue-gradient); /* Cor de fundo azul ao passar o mouse */
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--white-background); /* Cor do texto branco ao passar o mouse */
        text-decoration: none; /* Remove o sublinhado ao passar o mouse */
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        padding: 0.6em;
        text-decoration: none;
        color: var(--text-black);
    }

    .container__texto {
        margin-left: 0.6em;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opções {
        margin-right: auto; 
    }

    .container__texto {
        display: block;
    }
}