.tópicos {
    background: var(--gradient-blue); /* background gradient, se usar background-color não funciona */
    text-align: center;
    padding: 1em 0;
}

.tópicos__titulo {
    color: var(--text-white);
    font-size: var(--font-size-subtitle);
    font-weight: 300;
    margin-bottom: 1em; 
}

.tópicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tópicos__item {
    margin: 2em 0.5em;
}

.tópicos__link {
    color: var(--text-white);
    background-color: var(--text-orange);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-title);
    text-decoration: none;
    padding: 1em;
}